<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Upload users:</h1>
    <table border="1" cellpadding="8" cellspacing="0">
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Flag</th>
        </tr>
        <th:block th:each="user : ${users}">
            <tr>
                <td colspan="2" th:text="${user.getFullName()}">some text</td>
                <td colspan="2" th:text="${user.getEmail()}">some text</td>
                <td colspan="2" th:text="${user.getFlag()}">some text</td>
            </tr>
        </th:block>
    </table>
</body>
</html>